@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);

.fa-2x {
  font-size: 2em;
}

.fa {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
}

#corazon {
  color: rgb(11, 54, 24);
  margin-top: 4px;
}

#icon-color {
  color: #022061;
}

.main-menu:hover,
nav.main-menu.expanded {
  width: 250px;
  overflow: visible;
}

.main-menu {
  background: #ffffff;
  border-right: 1px solid #e5e5e5;
  position: fixed;
  top: 49px;
  bottom: 0;
  height: 94.8%;
  left: 0;
  width: 55px;
  overflow: hidden;
  --webkit-transition: width .05s linear;
  transition: width .05s linear;
  --webkit-transform: translateZ(0) scale(1, 1);
  z-index: 1000;
}

.main-menu>ul {
  margin: 0px 0;
}

.main-menu li {
  position: relative;
  display: block;
  width: 250px;
}

.main-menu li>a {
  position: relative;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  color: black;
  font-family: arial;
  font-size: 14px;
  text-decoration: none;
  --webkit-transform: translateZ(0) scale(1, 1);
  -webkit-transition: all .1s linear;
  transition: all .1s linear;

}

.main-menu .nav-icon {
  position: relative;
  display: table-cell;
  width: 50px;
  height: 26px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
}

.main-menu .nav-text {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 190px;
  font-family: 'Titillium Web', sans-serif;
}

.main-menu>ul.logout {
  position: absolute;
  left: 0;
  bottom: 0;
}

.no-touch .scrollable.hover {
  overflow-y: hidden;
}

.no-touch .scrollable.hover:hover {
  overflow-y: auto;
  overflow: visible;
}

a:hover,
a:focus {
  text-decoration: none;
}

nav {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

nav ul,
nav li {
  outline: 0;
  margin: 0;
  padding: 0;
}

.main-menu li:hover>a,
nav.main-menu li.active>a,
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus,
.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
.dashboard-page nav.dashboard-menu ul li.active a {
  color: white;
  background-color: #464949;
  width: 100%;

}

.area {
  float: left;
  background: #e2e2e2;
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
:root {
  --header-height: 3rem;
  --nav-width: 90px;
  --first-color: #F2F3F4;
  --first-color-light: #2E4053;
  --white-color: #16428E;
  --body-font: italic;
  --normal-font-size: 19px;
  --z-fixed: 100
}

.header {
  width: 100%;
  height: var(--header-height);
  position:sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: #464949;
  z-index: 99;
  transition: .5s
}

.header.white {
  background: #F2F3F4;
  box-shadow: 0px 4px 10px gray;
}

.header.white h1 {
  color: blue;
}

.header:hover {
  background: #0371A8;

}
#cabecera{
  color: rgb(255, 255, 255); 
  font-style: normal; 
  font-size: 30px;
  text-align: center;
}
.main-move {
  left: 40px;
}

hr{
  background-color: grey;
  height: 1px;
  margin: 0px 0px;
}
.card {
  overflow: hidden;
  padding: 1rem;
  background-color: white;
  border: 1px solid #e0e0e0;
  box-shadow: 10px 5px 5px #ABAAAA;
  border-radius: 10px;
  border-radius: 0.8rem;
  color: #333;
  cursor: pointer;

}

.card:hover {
  box-shadow: 10px 5px 5px rgb(0, 23, 176);

}

.gallery {
  display: grid;
  gap: .5rem;
  grid-auto-rows: 9rem;
  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
  margin-top: 0px;
  margin-left: 57px;
  padding: 10px;
  

}
.galleryEmpleados {
  display: grid;
  gap: .5rem;
  grid-auto-rows: auto;
  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
  margin-top: 0px;
  margin-left: 57px;
  padding: 10px;
  

}

.graficos {
  display: grid;
  grid-auto-rows: 20rem;
  grid-template-columns: 4fr 3fr 3fr;
  gap: 1rem;
  margin-top: 0px;
  margin-left: 57px;
  padding: 10px;
}
@media screen and (max-width: 480px) {
  .graficos {
    display: grid;
    grid-auto-rows: 20rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    gap: 1rem;
    margin-top: 55px;
    margin-left: 57px;
    padding: 10px;
  }

}

@media screen and (max-width: 920px) {
  .graficos {
    display: grid;
    grid-auto-rows: 20rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    gap: 1rem;
    margin-top: 55px;
    margin-left: 57px;
    padding: 10px;
  }

}


@media screen and (max-width: 480px) {
  .graficos {
    display: grid;
    grid-auto-rows: 20rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    gap: 1rem;
    margin-top: 55px;
    margin-left: 57px;
    padding: 10px;
  }
}

.graff {
  overflow: hidden;
  padding: 1rem;
  background-color: white;
  border: 1px solid #e0e0e0;
  box-shadow: 10px 5px 5px #ABAAAA;
  border-radius: 10px;
  border-radius: 0.3rem;
  color: #333;
  cursor: pointer;
  
 
}

#buscar {
  margin-left: 2px;
}
#titleSeleccion {
  margin-left: 2px;
}
.tablaBuscador {
  display: grid;
  height: 40rem;
  grid-auto-rows: 5rem;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-top: 0px;
  margin-left: 57px;
  padding: 10px;
  overflow-x: scroll;
}
@media screen and (max-width: 920px) {
  .tablaBuscador {
    display: grid;
    height: 40rem;
    grid-auto-rows: 5rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    gap: 1rem;
    margin-top: 55px;
    margin-left: 57px;
    padding: 10px;
    overflow-x: scroll;
  }

}


@media screen and (max-width: 480px) {
  .tablaBuscador {
    display: grid;
    height: 40rem;
    grid-auto-rows: 5rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    gap: 1rem;
    margin-top: 55px;
    margin-left: 57px;
    padding: 10px;
    overflow-x: scroll;
  }
}
.resultado {
  overflow: hidden;
  height: 40rem;
  padding: 1rem;
  background-color: white;
  border: 1px solid #e0e0e0;
  box-shadow: 10px 5px 5px #ABAAAA;
  border-radius: 10px;
  border-radius: 0.3rem;
  color: #333;
  cursor: pointer;
  
 
}
p {
  text-align: left;
  font-size: 13px;
  font-style: oblique;
  color: rgb(21, 8, 138);
  margin-top: 30px;
  text-decoration: none;

}
#iconosdiv {
  float: right;
  color: black;
  font-size: 35px;
  margin-top: 25px;
}

p:hover {
  color: blue;

}

#link {
  border: 1px dotted springgreen;
  text-align: center;
  height: 25px;
  width: 130px;
  font-size: 12px;
  color: white;
  text-decoration: none;


}



#linkestructura {
  font-size: 12px;
  color: white;
  background: rgb(96, 46, 124);
}

#linkestructura:hover {
  background: white;
  color: black;
}
#linkdatostrabajador {
  font-size: 12px;
  color: white;
  background: rgb(2, 145, 138);
}

#linkdatostrabajador:hover {
  background: white;
  color: black;
}
.btn {
  height: 25px;
  width: 130px;
  justify-content: flex-end;
  display: flex;
  margin-top: 35%;
  margin-left: 10px;
}

#hr6 {
  background-color: #0d25da;
  height: 5px;
  margin-top: 0px;
  border-radius: 40px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
#hr6-1 {
  background-color: #da660d;
  height: 5px;
  margin-top: 0px;
  border-radius: 40px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
#icono {
  color: red;
}

#datosTrabajador {
  background-image: url(../img/datospersonales.png);
  background: linear-gradient(rgb(255, 255, 255) 80%, rgb(24, 24, 24));
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 95% 85%;
}

#evaluacion {
  background-image: url(../img/A10.png);
  background: linear-gradient(rgb(255, 255, 255) 80%, rgb(0, 225, 67));
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 95% 90%;
}


#reclutamiento {
  background-image: url(../img/reclutamientoyseleccion.jpg);
  background: linear-gradient(rgb(255, 255, 255) 80%, rgb(89, 0, 255));
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 90% 90%;
}

#compatibilidad {
  background-image: url(https://img.freepik.com/vector-premium/icono-linea-concepto-compatibilidad-ilustracion-elemento-simple-diseno-simbolo-esquema-concepto-compatibilidad-puede-utilizar-ui-ux-web-movil_159242-1841.jpg?w=2000);
  background: linear-gradient(rgb(255, 255, 255) 80%, rgb(255, 111, 0));
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 85% 90%;
}
#contratacion {
  background-image: url(../img/contratacion.jpg);
  background: linear-gradient(rgb(255, 255, 255) 80%, rgb(3, 2, 72));
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 85% 90%;
}
#relacioneslaborales {
  background-image: url(../img/relacioneslaborales.png);
  background: linear-gradient(rgb(255, 255, 255) 80%, rgb(3, 170, 212));
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 85% 90%;
}
#academicos {
  background-image: url(../img/academicos.jpg);
  background: linear-gradient(rgb(255, 255, 255) 80%, rgb(80, 80, 80));
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 85% 90%;
}
#capacitacion {
  background-image: url(../img/capcitacioneshraei.jpg);
  background: linear-gradient(rgb(255, 255, 255) 80%, rgb(57, 48, 103));
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 85% 90%;
}
#estructura-organizacional {
  background-image: url(../img/estructura-organizacional.jpg);
  background: linear-gradient(rgb(255, 255, 255) 80%, rgb(189, 48, 205));
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 85% 90%;
}
#activostecnologia{
  background-image: url(../img/gestion-emrepsa.jpg);
  background-repeat: no-repeat;
  background-size: 70% 70%;
  background-position: 85% 90%;
}
#graficosevaluacion {
  background-image: url(../img/kpis.jpg);
  background: linear-gradient(rgb(255, 255, 255) 80%, rgb(205, 48, 58));
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 85% 90%;
}
#enevaluacion {
  background-image: url(../img/enevaluacion.png);
  background-repeat: no-repeat;
  background: linear-gradient(rgb(255, 255, 255) 80%, rgb(46, 59, 161));
  background-size: 100% 100%;
  background-position: 85% 90%;
}
#endocumentacion {
  background-image: url(../img/documentacionrh.jpg);
  background-repeat: no-repeat;
  background: linear-gradient(rgb(255, 255, 255) 80%, rgb(28, 36, 100));
  background-size: 100% 100%;
  background-position: 85% 90%;
}
#creaciondecursos {
  background-image: url(../img/creaciondecursos.jpg);
  background: linear-gradient(rgb(255, 255, 255) 80%, rgb(29, 29, 33));
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 85% 90%;
}
#plantillaoperativo {
  background-image: url(https://www.sesametime.com/assets/wp-content/uploads/2020/01/plantilla-para-control-horario.jpg);
  background: linear-gradient(rgb(255, 255, 255) 80%, rgb(48, 145, 205));
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 85% 90%;
}
#plantillamando {
  background-image: url(https://www.sesametime.com/assets/wp-content/uploads/2020/01/plantilla-gestion-bajas-y-ausencias.jpg);
  background: linear-gradient(rgb(255, 255, 255) 80%, yellow);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 85% 90%;
}
#programaCursosAutorizadosEmpleados {
  background-image: url(https://static.vecteezy.com/system/resources/previews/003/354/894/non_2x/business-online-training-seminar-or-courses-background-illustration-vector.jpg);
  background-repeat: no-repeat;
  background-size: 70% 70%;
  background-position: 75% 90%;
}
#calendariocapacitacion {
  background-image: url(https://unavtiroconarco.com/wp-content/uploads/2021/09/calendario.jpg);
  background-repeat: no-repeat;
  background: linear-gradient(rgb(255, 255, 255) 80%, rgb(118, 88, 251));
  background-size: 100% 100%;
  background-position: 85% 90%;
}
#cursosasigandos {
  background-image: url(https://d11cuk1a0j5b57.cloudfront.net/blog/wp-content/uploads/2022/08/18125803/Mejores-plataformas-de-cursos.jpg);
  background-repeat: no-repeat;
  background: linear-gradient(rgb(255, 255, 255) 80%, rgb(43, 39, 63));
  background-size: 100% 100%;
  background-position: 85% 90%;
}
#sincursosasignados {
  background-image: url(https://m.media-amazon.com/images/I/71L0EbialtL.jpg);
  background-repeat: no-repeat;
  background: linear-gradient(rgb(255, 255, 255) 80%, rgb(226, 18, 18));
  background-size: 100% 100%;
  background-position: 85% 90%;
}
#programacapacitacion {
  background-image: url(https://desarrollosocial.guanajuato.gob.mx/wp-content/uploads/2022/06/capacitaciones.jpg);
  background-repeat: no-repeat;
  background: linear-gradient(rgb(255, 255, 255) 80%, rgb(205, 106, 0));
  background-size: 100% 100%;
  background-position: 85% 90%;
}
#validaciondocumentocapacitacion {
  background-image: url(https://m.media-amazon.com/images/I/71L0EbialtL.jpg);
  background-repeat: no-repeat;
  background: linear-gradient(rgb(255, 255, 255) 80%, rgb(0, 205, 109));
  background-size: 100% 100%;
  background-position: 85% 90%;
}
#cargaproveedor {
  background-image: url(https://1.bp.blogspot.com/-ynybuBmLWpQ/XII0QbnLsmI/AAAAAAAAAHU/3FMElXItmr0aS3qkrmE0JdCNthGT2z5GgCLcBGAs/s1600/data%2Bbase.jpg);
  background-repeat: no-repeat;
  background: linear-gradient(rgb(255, 255, 255) 80%, rgb(163, 163, 182));
  background-size: 100% 100%;
  background-position: 85% 90%;
}
#busquedacurso {
  background-repeat: no-repeat;
  background: linear-gradient(rgb(255, 255, 255) 80%, rgb(195, 205, 0));
  background-size: 100% 100%;
  background-position: 85% 90%;
}
#busquedacursoempleado {
  background-repeat: no-repeat;
  background: linear-gradient(rgb(255, 255, 255) 80%, rgb(205, 167, 0));
  background-size: 100% 100%;
  background-position: 85% 90%;
}
#planindividualcapacitacion {
  background-repeat: no-repeat;
  background: linear-gradient(rgb(255, 255, 255) 80%, rgb(0, 205, 123));
  background-size: 100% 100%;
  background-position: 85% 90%;
}
#permisoadministrativo {
  background-repeat: no-repeat;
  background: linear-gradient(rgb(255, 255, 255) 80%, rgb(24, 94, 169));
  background-size: 100% 100%;
  background-position: 85% 90%;
}
#autorizacioncapacitacion {
  background-repeat: no-repeat;
  background: linear-gradient(rgb(255, 255, 255) 80%, rgb(53, 53, 54));
  background-size: 100% 100%;
  background-position: 85% 90%;
}
#calendarioVacaciones {
  background-repeat: no-repeat;
  background: linear-gradient(rgb(255, 255, 255) 80%, rgb(0, 31, 116));
  background-size: 100% 100%;
  background-position: 85% 90%;
}
#mistrabajadores {
  background-repeat: no-repeat;
  background: linear-gradient(rgb(255, 255, 255) 80%, rgb(41, 93, 237));
  background-size: 100% 100%;
  background-position: 85% 90%; 
}
#plantillaMedicos {
  background-repeat: no-repeat;
  background: linear-gradient(rgb(255, 255, 255) 80%, rgb(129, 0, 6));
  background-size: 100% 100%;
  background-position: 85% 90%; 
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #ACAEAD;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 50px;
}

/*estilos formularios*/

#form-ai {
  width: 100%;
  height: auto;
  background-color: rgb(250, 250, 250);
}

#form-iam {
  width: 100%;
  height: auto;
  background-color: rgb(250, 250, 250);
}

nav li ul {
  display: none;
  position: absolute;
  top: 0px;
  left: 250px;
  background: #e5e5e5;
  width: 150px;
  padding: 0px;


}

nav li:hover ul,
#nav-text {
  font-family: 'Titillium Web', sans-serif;
  display: block;
  width: 150px;

}



/* div.demo-content{box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.20);color:#8d9090;} */
