@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);

.fa-2x {
  font-size: 2em;
}

.fa {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
}

#corazon {
  color: rgb(11, 54, 24);
  margin-top: 4px;
}

#icon-color {
  color: #022061;
}

.main-menu:hover,
nav.main-menu.expanded {
  width: 250px;
  overflow: visible;
}

.main-menu {
  background: #ffffff;
  border-right: 1px solid #e5e5e5;
  position: fixed;
  top: 49px;
  bottom: 0;
  height: 95%;
  left: 0;
  width: 55px;
  overflow: hidden;
  --webkit-transition: width .05s linear;
  transition: width .05s linear;
  --webkit-transform: translateZ(0) scale(1, 1);
  z-index: 1000;
}

.main-menu>ul {
  margin: 0px 0;
}

.main-menu li {
  position: relative;
  display: block;
  width: 250px;
}

.main-menu li>a {
  position: relative;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  color: black;
  font-family: arial;
  font-size: 14px;
  text-decoration: none;
  --webkit-transform: translateZ(0) scale(1, 1);
  --webkit-transition: all .1s linear;
  transition: all .1s linear;
}

.main-menu .nav-icon {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
}

.main-menu .nav-text {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 190px;
  font-family: 'Titillium Web', sans-serif;
}

.main-menu>ul.logout {
  position: absolute;
  left: 0;
  bottom: 0;
}

.no-touch .scrollable.hover {
  overflow-y: hidden;
}

.no-touch .scrollable.hover:hover {
  overflow-y: auto;
  overflow: visible;
}

a:hover,
a:focus {
  text-decoration: none;
}

nav {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

nav ul,
nav li {
  outline: 0;
  margin: 0;
  padding: 0;
}

.main-menu li:hover>a,
nav.main-menu li.active>a,
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus,
.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
.dashboard-page nav.dashboard-menu ul li.active a {
  color: white;
  background-color: #2E4053;
  width: 100%;

}

.area {
  float: left;
  background: #e2e2e2;
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

:root {
  --header-height: 3rem;
  --nav-width: 90px;
  --first-color: #F2F3F4;
  --first-color-light: #2E4053;
  --white-color: #16428E;
  --body-font: italic;
  --normal-font-size: 19px;
  --z-fixed: 100
}

.headerinfarto {
  width: 100%;
  height: var(--header-height);
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding: 0.1rem;
  background-color: #464949;
  z-index: 99;
  transition: .5s;
}
.headergraficos {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding: 0.1rem;
  background-color: #04c0d1;
  z-index: 99;
  transition: .5s;
}

#boton_cancerBucal {
  text-decoration: none;
  background-color: #7d0022;
  text-align: center;
  color: white;
  cursor: pointer;
  width: 120px;
  height: 25px;
  font-size: 12px;
  border: 5px;
  margin-left: 0px;
  margin-top: 0px;
}



#cabecera {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-size: 30px;
  float: right;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;

}

#totalregistro {
  margin-left: 1%;
  width: 40px;
  height: 25px;
  font-size: 12px;
  margin-top: 0px;
  font-style: normal;
  border: 0px;
  background-color: #00AD22;
  color: white;
}

#cabeceraModalInfarto {
  background: #900C3F;
  color: white;
  height: 50px;
}

thead {
  background-color: #ACAEAD;

}

thead tr th {
  color: white;
}

.main-move {
  left: 40px;
}
#hrinicial {
  margin-top: 10px;
  background-color: #00AD22;
  margin: 0px 0px;
}
#hr {
  background-color: grey;
  margin: 0px 0px 0px 0px;
  
}

.parent {
  display: flex;
  flex-wrap: wrap;
  column-gap: 8px;
  row-gap: 8px;
  border-radius: 5px;
  width: 100%;
  height: auto;
  margin-top: 40px;
  background-color: white;
  padding: 10px;
  overflow-y: scroll;


}
#busqueda {
  float: left;
  margin-left: 0px;
  margin-top: 2px;
  height: 33px;
  position: relative;
  resize: horizontal;
  overflow: auto;
  border-radius: 0px 0px 0px 0px;

}
.box1 {
  display: grid;
  gap: .5rem;
  grid-template-columns:  1fr 3fr;
  margin-top: 0px;
  margin-left: 50px;
  padding: 5px;

}

#tabla_resultadobus {
  height: 93vh;
  overflow: hidden;
  padding: 10px;
  background-color: white;
  border: 1px solid #e0e0e0;
  box-shadow: 10px 5px 5px #515151;
  border-radius: 10px;
  color: #333;
  cursor: pointer;
  overflow-y: scroll;
  margin-top:0;
  margin-bottom:0;

}

#tabla_resultado {
  height: 93vh;
  overflow: hidden;
  padding: 10px;
  background-color: white;
  border: 1px solid #e0e0e0;
  box-shadow: 10px 5px 5px #ABAAAA;
  border-radius: 10px;
  color: #333;
  cursor: pointer;
  overflow-y: scroll;


}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background: #ACAEAD;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 50px;
}


table {
  border-radius: 0px 0px 15px 15px;
}

#th {
  font-family: arial;
  font-size: 12px;
  width: 15rem;
  height: auto;
  float: right;
  text-align: right;
  padding: 3px;


}

tr {
  background-color: #d5d8dc;
}

#td:hover {
  background: rgb(224, 224, 224);
  color: black;
  cursor: pointer;
}

#td {
  background-color: white;
  font-family: arial;
  font-size: 12px;
  width: 100rem;
  padding: 3px;

}

.container {
  border: 1px solid rgb(198, 193, 193);
  background-color: #f7f5f5;
  border-radius: 10px;
}



.containerr2 {
  background: rgb(97, 117, 157);
  margin-top: 5px;
  display: flex;
  justify-content: center;
  border-radius: 15px 15px 0px 0px;
  padding: 0px;
  width: 100%;
  height: 15px;
  color: white;
  font-size: 12px;
}

.containerr3 {
  background: rgb(97, 117, 157);
  margin-top: -12px;
  display: flex;
  justify-content: center;
  border-radius: 15px 15px 0px 0px;
  padding: 0px;
  width: 100%;
  height: 15px;
  color: white;
  font-size: 12px;
}

.containerr4 {
  background: rgb(97, 117, 157);
  margin-top: -12px;
  display: flex;
  justify-content: center;
  border-radius: 15px 15px 0px 0px;
  padding: 0px;
  width: 100%;
  height: 15px;
  color: white;
  font-size: 12px;
}

.containerr5 {
  background: rgb(97, 117, 157);
  margin-top: -12px;
  display: flex;
  justify-content: center;
  border-radius: 15px 15px 0px 0px;
  padding: 0px;
  width: 100%;
  height: 15px;
  color: white;
  font-size: 12px;
}


#eliminarregistro {
  color: white;
  background: red;
  border: none;
  font-size: 10px;
  padding: 4px;
  margin-left: 5px;
}
#daracceso {
  color: white;
  background: rgb(75, 186, 38);
  border: none;
  font-size: 10px;
  padding: 4px;
  margin-left: 5px;
}
#cancelarasistencia {
  color: white;
  background: rgb(237, 179, 45);
  border: none;
  font-size: 10px;
  padding: 4px;
  margin-left: 5px;
}
#btn-send {
	background: #258bdc;
	color: #FFF;
	padding: 5px 5px;
	border: 0px;
  margin-top: 15px;
  width: 10rem;
  border-radius: 10px;
}
#btn-send:hover {
  background-color: #4092B8;
}
#btn-send-close {
  background-color: yellow; 
  color: white; 
  font-size: 15px;
  padding: 5px 5px;
	border: 0px;
  margin-top: 15px;
  width: 10rem;
  border-radius: 10px;
}
#btn-send-close:hover {
  background-color: beige;
  color: black;
}
.container {
  background-color: #ffffff;
  padding: 20px;
}
#cabeceras {
  width: 100%; 
  height: auto; 
  background-color:#6bafcc; 
  text-align:center;
  margin-top:10px; 
  color: white;
}

#notification-header {
	background: #fff;
    padding: 5px;
    text-align: right;
    /* margin-top: 4px; */
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
button#notification-icon {
	background: transparent;
	border: 0;
	position:relative;
	cursor:pointer;
}
#notification-count{
	position: absolute;
    left: -2px;
    top: -8px;
    font-size: 14px;
    color: #de5050;
    font-weight: bold;
}
#form-header {
	font-size:1.5em;
}
#frmNotification {
	padding:10px 10px;
}

div.demo-content input[type='text'],textarea{
	width: 100%;
	padding: 0px 5px;
  
}
#notification-latest {
	color: #555;
  position: absolute;
  right: 0px;
  background: #f5f5f5;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.20);
  max-width: 250px;
  text-align: left;
  font-size: 12px;
  height: 60rem;
  overflow-y: scroll;
  margin-top: -45px;
  margin-right: -28px;
  transition: all 800ms;
  filter: blur(0px);
}

.notification-item {
	padding:10px;
	border-bottom: #ce2078 2px solid;
	cursor:pointer;
  height: auto;
  width: 15rem;
  
}
.notification-subject {		
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  
}
.notification-comment {		
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-style:italic;
}
::-webkit-scrollbar{
  width: 9px;
  height: 9px;
  cursor: pointer;
}
::-webkit-scrollbar-track{
  background: #ACAEAD;
  border-radius: 50px;
  cursor: pointer;
}
::-webkit-scrollbar-thumb{
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
}