conexionRh.php
clases/conexion.php
clases/config
clases/configDocumentos
clases/configRh
/imagenesPerfiles
/imagenesCursos
/documentosactanacimiento
/documentoscursos
/documentobecatiempo
/documentoscedulaposgradoesp
/documentoscertificadoposgradoesp
/documentoscompatibilidad
/documentospostecnico
/documentostecnica
/documentostecnicacedula
calendario/config.php
calendarioVacaciones/config.php
vacacionesColaboradores/config.php
vacacionesColaboradoresMandos/config.php
/documentoscartilla
/documentoscomprobantedomicilio
/documentoscurp
/documentoscursos
/documentosdiplomados
/documentosdoctorado
/documentoshijos
/documentoslicenciatura
/documentosmaestria
/documentosmediasup
/documentosposgradoesp
/documentoscedulalicenciatura
/documentosdoctoradocedula
/documentosmaestriacedula
/documentosactanacimiento
Push.php
/subidas
/fichasCursos
/formatos
close_sesion.php
/documentos


